wheel==0.33.*
Flask>=1.1.*
Jinja2>=2.10.*
requests==2.22.*
Werkzeug>=0.16.*
wtforms>=2.1.*
Flask-WTF>=0.14.*
Flask-Bootstrap>=3.3.*
Flask-Login>=0.4.*
Flask-Mail>=0.9.*
flask-nav>=0.6.*
bcrypt>=3.1.*
configparser>=4.0.*
six>=1.13.*
cffi>=1.13.*
black>=19.*