wheel==0.30.*
Flask>=0.12.3
Jinja2>=2.10.1
requests==2.20.*
Werkzeug>=0.15.3
wtforms==2.1.*
Flask-WTF==0.14.*
Flask-Bootstrap==3.3.*
Flask-Login==0.4.*
Flask-Mail==0.9.*
flask-nav==0.6.*
bcrypt==3.1.*
configparser>=4.0.*