{% extends "base/grid.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('projects.static', filename='nbi_projects_style.css') }}">
    <script type="text/javascript"
            src="{{ url_for('projects.static', filename='projects.js') }}">
    </script>

{% endblock %}

{% block navbar %}
    <div class="container-full">
        <div class="banner">
            <img src="{{ url_for('projects.static',
             filename='images/bohrium_logo.png') }}">
        </div>
    </div>
    {{ super() }}
{% endblock %}

{% block mid_grid_section %}
    {% set static_link = 'projects_base.static' %}
    {% set object_tag_link = 'projects.tag_search' %}
    {% set search_description = 'This field can be used to search for projects
 by using their associated tags' %}
    {% include 'base/search_section.html' %}
    {% include 'base/highlight_tags_section.html' %}
{% endblock %}

{% set object_link = 'projects.show' %}
{% set object_image_link = 'projects_base.img_render' %}
